body {
  background: black;
  color: white;
}

.center-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

h1 {
  font-size: 2.2rem;
  font-family: 'Serif';
  width: 100%;
  font-weight: normal;
}

p {
  padding-top: 2px;
  text-align: left;
}

img {
  opacity: 100%;
}


address a {
  text-decoration: none;
  color: white;
}

.brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.brand span {
  padding: 10px;
}

.brand p {
  text-align: center;

}

table tr td:nth-child(1) {
  text-align: left;
}

table tr td:nth-child(2) {
  text-align: right;
}

td {
  padding: 5px;
}